<div class="container">
    <p class="text-center mb-0">
        <a href="http://variancedigital.com" target="_blank" class="text-decoration-none">
        <span class="text-muted"> Variance srl</span></a>
    </p>
    <p class="text-center mb-0">
        <a href="{{url_for('bl_home.privacy')}}" class="small">Privacy Notice</a> |
        <a href="{{url_for('bl_home.termsofservice')}}"  class="small">Terms of Service</a> |
        <a href="javascript:open_cookie_alert();" rel="nofollow" class="small text-bold">Cookie Settings</a>
    </p>
</div>
